body {
	min-width: 320px;
	font-size: 14px;
	font-family: 'Century Gothic', Roboto, sans-serif;
	color: #434343;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	text-align: center;
	cursor: pointer;
	background: #005FA3;
	font-size: 18px;
	width: 270px;
	height: 60px;
	color: #FFF;
}

button:hover {
	background: #FFF;
	color: #005FA3;
}

.container {
	width: 1110px;
	height: 430px;
	margin: auto 405px;
}